.Forecast .forecast-container {
  padding: 12px 0 0 0;
}

.MiniTime, .MiniIcon, .MiniTemperature {
  font-size: 16px;
  padding: 0;
}

.Forecast .MiniTime {
  text-align: right;
}

.Forecast .MiniIcon {
  text-align: center;
}

.Forecast .MiniTemperature {
  text-align: left;
}